
main {
    width: 70%;
    max-width: 700px;
    margin: auto;
}

td, th {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

.item {
    border: 1px solid black;
    padding: 5px;
}